@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@plugin "@tailwindcss/typography";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-main: #642066;
    --color-sub: #57a8fd;

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .hide-scrollbar-until-hover::-webkit-scrollbar {
        width: 6px; /* Adjust size as needed */
        height: 6px;
    }

    /* Show scrollbar on hover */
    .hide-scrollbar-until-hover:hover::-webkit-scrollbar {
        display: block;
    }

    .hide-scrollbar-until-hover:hover::-webkit-scrollbar-track{
        background-color: #303030;
        border-radius: 6px;
    }
    /* Hide by making it transparent */
    .hide-scrollbar-until-hover::-webkit-scrollbar-thumb {
        background-color: rgba(75, 85, 99, 0.0);
        border-radius: 6px;
    }

    /* Show by making it solid on hover */
    .hide-scrollbar-until-hover:hover::-webkit-scrollbar-thumb {
        background-color: rgba(103, 106, 110, 0.952);
        cursor: pointer;
    }

}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  mb-0! leading-tight!;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

ui-label{
    font-size: 16px;
}

a{
    cursor: pointer;
}
.show-content a{
    color: #5baaff;
}

.trix-button-group{
    background-color: #d2d2d2;
}
.trix-button--icon-code{
    display: none;
}
.trix-button--icon-decrease-nesting-level{
    display: none;
}
.trix-button--icon-increase-nesting-level{
    display: none;
}
.trix-button-group--file-tools{
    display: none !important;
}
.trix-button-row{
    justify-content: left !important;
    gap: 10px;
}
trix-editor{
    font-weight: 100;
    color: #dfdfdf;
    background-color: #323232;
    height: 400px !important;
    overflow-y: auto;
}
trix-editor a{
    color: #5baaff;
}
trix-editor strong, h1{
    color: #dfdfdf;
}
trix-editor ol{
    margin: 0;
}
trix-editor ul{
    margin: 0;
}
trix-editor blockquote{
    margin: 0;
    color: #bebebe;
}

.color-main{
    background-color: var(--color-main);
    filter: brightness(1);
}
.hover-color-main:hover{
    filter: brightness(1.2);
}
.color-sub{
    background-color: #2a7fda;
    filter: brightness(1);
}
.hover-color-sub:hover{
    background-color: #57a8fd;
}

.styling-h{
    border-color: var(--color-sub);
    border-width: 2px 0;
    display: inline-block;
    padding: 6px 20px;
}

input{
    outline: #57a8fd;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
